<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fxriscrudtemplateemaildesa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3e135a9-0ac3-4f1e-88a7-a5b7ac4b58bc/resourcegroups/DesarrolloRIS/providers/Microsoft.Web/sites/FxRisCrudTemplateEmailDesa</ResourceId>
    <UserName>$FxRisCrudTemplateEmailDesa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fxriscrudtemplateemaildesa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>